*

!*/

!alacritty/
!alacritty/**

!fastfetch/
!fastfetch/**

!gtk-3.0/
!gtk-3.0/**

!gtk-4.0/
!gtk-4.0/**

!hypr/
!hypr/**

!SLSsteam/
!SLSsteam/config.yaml

!sway/
!sway/**

!noctalia/
!noctalia/**

!nushell/
!nushell/**
nushell/history.txt

!qt6ct/
!qt6ct/**

!zed/
!zed/**

!wallpapers/
!wallpapers/**

!/.gitignore
!/README.md
!starship.toml
